<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="cordova-plugin-dynamicappicon"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Dynamic App Icon</name>

    <js-module src="www/DynamicIcon.js" name="DynamicIcon">
        <clobbers target="DynamicIcon" />
    </js-module>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="DynamicIcon">
                <param
                    name="android-package"
                    value="com.dynamicappicon.plugin.DynamicIcon" />
            </feature>
        </config-file>

        <!-- IMPORTANT: only alias, NO custom icons -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <activity-alias
                android:name=".IconNormal"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>

            <activity-alias
                android:name=".IconPremium"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity" />

            <activity-alias
                android:name=".IconPrivate"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity" />

        </config-file>

        <source-file
            src="src/android/com/dynamicappicon/plugin/DynamicIcon.java"
            target-dir="src/com/dynamicappicon/plugin" />

    </platform>
</plugin>
