<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-dynamicappicon" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Dynamic App Icon</name>

    <!-- JS module -->
    <js-module src="www/DynamicIcon.js" name="DynamicIcon">
        <clobbers target="DynamicIcon" />
    </js-module>

    <platform name="android">

        <!-- Register the plugin -->
        <config-file target="config.xml" parent="/*">
            <feature name="DynamicIcon">
                <param name="android-package" value="com.dynamicappicon.plugin.DynamicIcon" />
            </feature>
        </config-file>

        <!-- ACTIVITY ALIASES FOR DYNAMIC ICONS -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <!-- NORMAL ICON (default launcher) -->
            <activity-alias
                android:name=".IconNormal"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_normal"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>

            <!-- PREMIUM ICON (no launcher intent) -->
            <activity-alias
                android:name=".IconPremium"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_premium"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">

                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                </intent-filter>
            </activity-alias>

            <!-- PRIVATE ICON (no launcher intent) -->
            <activity-alias
                android:name=".IconPrivate"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_private"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">

                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                </intent-filter>
            </activity-alias>

        </config-file>

        <!-- JAVA source -->
        <source-file 
            src="src/android/com/dynamicappicon/plugin/DynamicIcon.java"
            target-dir="src/com/dynamicappicon/plugin" />

        <!-- ICON RESOURCES -->
        <!-- MDPI -->
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_normal.png"   target="res/mipmap-mdpi/ic_launcher_normal.png" />
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_premium.png" target="res/mipmap-mdpi/ic_launcher_premium.png" />
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_private.png" target="res/mipmap-mdpi/ic_launcher_private.png" />

        <!-- HDPI -->
        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_normal.png"   target="res/mipmap-hdpi/ic_launcher_normal.png" />
        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_premium.png" target="res/mipmap-hdpi/ic_launcher_premium.png" />
        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_private.png" target="res/mipmap-hdpi/ic_launcher_private.png" />

        <!-- XHDPI -->
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_normal.png"   target="res/mipmap-xhdpi/ic_launcher_normal.png" />
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_premium.png" target="res/mipmap-xhdpi/ic_launcher_premium.png" />
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_private.png" target="res/mipmap-xhdpi/ic_launcher_private.png" />

        <!-- XXHDPI -->
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_normal.png"   target="res/mipmap-xxhdpi/ic_launcher_normal.png" />
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_premium.png" target="res/mipmap-xxhdpi/ic_launcher_premium.png" />
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_private.png" target="res/mipmap-xxhdpi/ic_launcher_private.png" />

        <!-- XXXHDPI -->
        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_normal.png"   target="res/mipmap-xxxhdpi/ic_launcher_normal.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_premium.png" target="res/mipmap-xxxhdpi/ic_launcher_premium.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_private.png" target="res/mipmap-xxxhdpi/ic_launcher_private.png" />

    </platform>

</plugin>
