<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-dynamicappicon" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Dynamic App Icon</name>

    <js-module src="www/DynamicIcon.js" name="DynamicIcon">
        <clobbers target="DynamicIcon" />
    </js-module>

    <platform name="android">

        <!-- Register plugin -->
        <config-file target="config.xml" parent="/*">
            <feature name="DynamicIcon">
                <param name="android-package" value="com.dynamicappicon.plugin.DynamicIcon" />
            </feature>
        </config-file>


        <!-- REMOVE LAUNCHER INTENT FROM OSLauncherActivity -->
        <config-file target="AndroidManifest.xml"
                     parent="/manifest/application/activity[@android:name='com.outsystems.plugins.launcher.OSLauncherActivity']">

            <!-- Replace MAIN/LAUNCHER with a neutral filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </config-file>


        <!-- ICON ACTIVITY ALIASES -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <!-- NORMAL ICON -->
            <activity-alias
                android:name="com.outsystemscloud.personalyybrgx5w.TestPlugin.IconNormal"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_normal"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>

            <!-- PREMIUM ICON -->
            <activity-alias
                android:name="com.outsystemscloud.personalyybrgx5w.TestPlugin.IconPremium"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_premium"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity"/>

            <!-- PRIVATE ICON -->
            <activity-alias
                android:name="com.outsystemscloud.personalyybrgx5w.TestPlugin.IconPrivate"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_private"
                android:targetActivity="com.outsystems.plugins.launcher.OSLauncherActivity"/>

        </config-file>


        <!-- JAVA -->
        <source-file src="src/android/com/dynamicappicon/plugin/DynamicIcon.java"
                     target-dir="src/com/dynamicappicon/plugin" />


        <!-- ICON FILES -->
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_normal.png"   target="res/mipmap-mdpi/ic_launcher_normal.png"/>
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_premium.png"  target="res/mipmap-mdpi/ic_launcher_premium.png"/>
        <resource-file src="src/android/res/mipmap-mdpi/ic_launcher_private.png"  target="res/mipmap-mdpi/ic_launcher_private.png"/>

        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_normal.png"   target="res/mipmap-hdpi/ic_launcher_normal.png"/>
        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_premium.png"  target="res/mipmap-hdpi/ic_launcher_premium.png"/>
        <resource-file src="src/android/res/mipmap-hdpi/ic_launcher_private.png"  target="res/mipmap-hdpi/ic_launcher_private.png"/>

        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_normal.png"  target="res/mipmap-xhdpi/ic_launcher_normal.png"/>
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_premium.png" target="res/mipmap-xhdpi/ic_launcher_premium.png"/>
        <resource-file src="src/android/res/mipmap-xhdpi/ic_launcher_private.png" target="res/mipmap-xhdpi/ic_launcher_private.png"/>

        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_normal.png"  target="res/mipmap-xxhdpi/ic_launcher_normal.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_premium.png" target="res/mipmap-xxhdpi/ic_launcher_premium.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_launcher_private.png" target="res/mipmap-xxhdpi/ic_launcher_private.png"/>

        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_normal.png" target="res/mipmap-xxxhdpi/ic_launcher_normal.png"/>
        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_premium.png" target="res/mipmap-xxxhdpi/ic_launcher_premium.png"/>
        <resource-file src="src/android/res/mipmap-xxxhdpi/ic_launcher_private.png" target="res/mipmap-xxxhdpi/ic_launcher_private.png"/>

    </platform>

</plugin>
