<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-dynamicappicon" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">
 
    <name>Dynamic App Icon</name>
 
    <js-module src="www/DynamicIcon.js" name="DynamicIcon">
        <clobbers target="DynamicIcon" />
    </js-module>
 
    <platform name="android">
 
        <config-file target="config.xml" parent="/*">
            <feature name="DynamicIcon">
                <param name="android-package" value="com.outsystems.dynamicappicon.DynamicIcon" />
            </feature>
        </config-file>
 
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
 
            <activity-alias
                android:name=".IconNormal"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>
 
            <activity-alias
                android:name=".IconPremium"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>
 
            <activity-alias
                android:name=".IconPrivate"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>
 
        </config-file>
 
        <source-file src="src/android/com/outsystems/dynamicappicon/DynamicIcon.java"
                     target-dir="com/outsystems/dynamicappicon" />
 
    </platform>
 
</plugin>
 
